langchain
python-dotenv  
langchain-openai
ipykernel
streamlit
google-genai
pydantic
langchain_huggingface
openai
langchain_ollama 
pdfplumber
llama-parse
tiktoken>=0.5.0
langchain-qdrant
langchain-text-splitters
ragas
langgraph-cli[inmem]
fastapi
uvicorn
edgartools
langchain_groq